.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-title {
  position: absolute;
  font-size: 3rem;
  color: white;
  top: 1.5rem;
  left: 2rem;
}

.input {
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  text-align: center;
  padding: .5rem;
  margin: .5rem;
  text-transform: uppercase;
}

.noteCreatorContainer {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3rem;
  margin-inline: auto;
  padding-top: 8rem;
}

.notesContainer {
  display: flex;
  flex-wrap: wrap;
  margin-inline: auto;
  justify-content: center;
}

.noteInputsContainer {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  width: max-content;
}